{% extends 'base.html' %}
{% load static %}

<style>
  * {
    box-sizing: border-box;
  }

  .col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
  }

  .col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .btn:hover {
    background: linear-gradient(to left, #003399 0%, #99ccff 100%);
  }

  a {
    color: #2196F3;
  }

  hr {
    border: 1px solid lightgrey;
  }

  span.price {
    float: right;
    color: grey;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }

    .col-25 {
      margin-bottom: 20px;
    }
  }
</style>
{% block start %}
  {% include 'header.html' %}

  <div class="container">
    
    {% if order_items %}
    <div class="order mt-4 p-2 " style="margin-left: 80%;">

      <!-- <i class="fa-solid fa-clock-rotate-left"></i> Button -->
      <a href="/order_history" class="btn btn-dark"><i class="fa-solid fa-clock-rotate-left"></i></a>
    </div>
      <form action="{% url 'place_order' %}" method="post">
        {% csrf_token %}
        
          <div class="orderbody  row">
            
              <div class="col md-4 ms-2">
                <h3>Billing Address</h3>
                <label for="fname">Full Name</label>
                <input type="text" required class="form-control" id="fname" name="fullname" placeholder="Name">

                <label for="mob">Mobile</label>
                <input type="number" required class="form-control" id="mob" name="mobile" placeholder="Mobile">

                <label for="email">Email</label>
                <input type="email" required class="form-control" id="email" name="email" placeholder="xyz@gmail.com">

                <label for="adr">Address</label>
                <input type="text" required class="form-control" id="adr" name="address" placeholder="Address">

                <label for="city">City</label>
                <input type="text" required class="form-control" id="city" name="city" placeholder="City">

                <label for="state">State</label>
                <input class="form-control" required type="text" id="state" name="state" placeholder="State">

                <label for="zip">Zip</label>
                <input class="form-control" required type="text" id="zip" name="zip" placeholder="Zip Code">
                <p style="color: green;">COD available only..!</p>

                <!-- Hidden fields for cart items -->
                <!-- {% for item in order_items %}
                  <input type="hidden" name="cart_items" value="{{ item.pid.id }}">
                  <input type="hidden" name="quantities" value="{{ item.quantity }}">
                  <input type="hidden" name="total" value="{{ total }}">
                {% endfor %}  -->
              </div>
            
              <div class="col md-4 ms-2">
             
                <h4>Your order.. <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{ cnto }}</b></span></h4>
        
                <table class="table table-hover me-3" style="width: 98%;">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                      <th scope="col">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in order_items %}
                      <tr>
                        <td>{{ item.pid.shoename }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.tprice }}</td>
                        <td>
                          <a href="/removeorder/{{ item.id }}" type="button" class="btn btn-danger">Remove</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <hr>
                <p style="margin-left:300px;"><b>Grand Total: {{ total }}</b></p>
                <hr>
                <button type="submit" class="btn btn-primary py-2 my-2">Place Order</button>
              </div>
            </div>
          </div>
        
      </form>
    </div>

  
  {% else %}
  <!-- Order History Section -->
  <div class="order mt-4 p-2">

    <!-- <i class="fa-solid fa-clock-rotate-left"></i> Button -->
    <a href="/order_history" class="btn btn-dark bottom-end"><i class="fa-solid fa-clock-rotate-left"></i></a>
  </div>
{% endif %}
</div>
{% include 'footer.html' %}
{% endblock %}
